<!-- sub1 -->
  <navbar/>

  <div class="jumbotron text-center">
    <h1>機能1</h1>
    {{sub1.myData}}
  </div>

  <div id="grid1" ui-grid="{ data: sub1.myData }" class="grid"></div>
  <div google-chart chart="sub1.chartObject" style="{{cssStyle}}"></div>
