<!-- ナビゲーション -->
<!-- 参照するモデルはnavbarに統一する.navbarディレクティブに定義するコントローラで適切なコンポーネントに処理を移譲する. -->
<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <!-- ヘッダー -->
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="top">SampleApp</a>
    </div>

    <!-- メニュー -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="top"><span class="glyphicon glyphicon-home"></span>トップ</a></li>
        <li ui-sref-active="active"><a ui-sref="sub1">機能1</a></li>
        <li ui-sref-active="active" ng-show="navbar.auth"><a ui-sref="sub2">機能2</a></li>
        <li ui-sref-active="active" ng-show="!navbar.auth"><a href="">機能2</a></li>
        <li ui-sref-active="active"><a ui-sref="todo">Todo</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active"><a ui-sref="main">Main</a></li>
        <li ui-sref-active="active"><a ui-sref="about">About</a></li>
        <li ng-show="navbar.hasAdminRole()" uib-dropdown>
          <a href="#" uib-dropdown-toggle>管理<span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li role="menuitem"><a ui-sref="user">ユーザー管理</a></li>
          </ul>
        </li>

        <li ng-hide="navbar.auth" ui-sref-active="active"><a ui-sref="login">ログイン</a></li>
        <li ng-show="navbar.auth" uib-dropdown>
          <a href="#" uib-dropdown-toggle>ようこそ {{navbar.nickname}} さん<span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li role="menuitem"><a href="" ng-click="navbar.openPasswordView()">パスワード変更</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="" ng-click="navbar.logout()">ログアウト</a></li>
          </ul>
        </li>
      </ul>
<!--
      <ul class="nav navbar-nav navbar-right">
        <span class="acme-navbar-text">
        </span>
      </ul>
-->
    </div>
  </div>
</nav>
