<div class="modal-header">
  <button class="close" ng-click="password.dismiss()">&times;</button>
  <h3 class="modal-title">パスワード変更</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="passwordForm" ng-submit="" novalidate>
    <div class="form-group">
      <label class="col-xs-3 control-label" for="password.now">現在のパスワード</label>
      <div class="col-xs-5">
        <input id="password.now" name="passwordNow" type="password" size="50" class="form-control" ng-model="password.password.now" required/>
      </div>
      <div class="col-xs-4">
        <p class="form-control-static" ng-show="passwordForm.passwordNow.$error.required">パスワードは必須です</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label" for="password.new">新しいパスワード</label>
      <div class="col-xs-9">
        <input id="password.new" type="password" size="50" class="form-control" ng-model="password.password.new" required/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label" for="password.newnew">新しいパスワード(確認)</label>
      <div class="col-xs-9">
        <input id="password.newnew" type="password" size="50" class="form-control" ng-model="password.password.newnew" required/>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="password.ok()" ng-disabled="passwordForm.$invalid">変更</button>
  <button class="btn btn-primary" type="button" ng-click="password.dismiss()">キャンセル</button>
</div>
