<!-- sub2 -->
  <navbar/>

  <div class="jumbotron text-center">
  </div>
  
  <div class="row">
  <div class="col-xs-12">
    <form novalidate>
      <div>
        <label for="qid">ID：</label>
        <input id="qid" type="text" size="25" ng-model="sub2.query.id" />
      </div>
      <div>
        <label for="qtitle">タイトル：</label>
        <input id="qtitle" type="text" size="60" ng-model="sub2.query.title" />
      </div>
      <div>
        <label for="qbeginDate">開始日：</label>
        <input id="qbeginDate" type="text" size="10" ng-model="sub2.query.beginDate" />
      </div>
      <div>
        <label for="qendDate">終了日：</label>
        <input id="qendDate" type="text" size="10" ng-model="sub2.query.endDate" />
      </div>
      <div>
        <button ng-click="sub2.onSearch()">検索</button>
        <button ng-click="">クリア</button>
      </div>
    </form>

    <div id="grid1" ui-grid="{ data: sub2.assets }" class="grid"></div>

        <button ng-click="sub2.onclick()">クリック</button>

<form novalidate>
  <div>
    <label for="id">ID：</label><br />
    <input id="id" type="text" size="25" ng-model="sub2.asset.id" />
  </div>
  <div>
    <label for="title">タイトル：</label><br />
    <input id="title" type="text" size="60" ng-model="sub2.asset.title" />
  </div>
  <div>
    <label for="date">日：</label><br />
    <input id="date" type="text" size="10" ng-model="sub2.asset.date" />
  </div>
  <div>
    <button ng-click="sub2.onInsert()">登録</button>
    <button ng-click="sub2.onUpdate()">更新</button>
    <button ng-click="sub2.onDelete()">削除</button>
  </div>
</form>

</div> <!-- col -->
</div> <!-- row -->
