  <navbar></navbar>

  <div class="jumbotron text-center">
    <h1>ログイン</h1>
  </div>
  
  <form class="form-horizontal" name="loginForm" ng-submit="" novalidate>
    <div class="form-group">
      <label class="col-xs-2 control-label" for="username">ユーザ名</label>
      <div class="col-xs-8">
        <input id="userId" name="userId" type="text" size="50" class="form-control" ng-model="login.user.username" required/>
      </div>
      <div class="col-xs-2">
        <p class="form-control-static" ng-show="loginForm.userId.$error.required">ユーザ名は必須です</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label" for="password">パスワード</label>
      <div class="col-xs-offset-2 col-xs-8 col-xs-pull-2">
        <input id="password" type="password" size="50" class="form-control" ng-model="login.user.password" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 text-center">
        <button class="btn btn-primary" ng-click="login.login()" ng-disabled="loginForm.$invalid">ログイン</button>
        <button class="btn btn-default" ng-click="login.clear()">クリア</button>
      </div>
    </div>
    <div class="alert alert-warning text-center" ng-show="login.failed">ログインできません</div>
  </form>
