<section class="panel panel-default">
  <header class="panel-heading">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="todoList.message" placeholder="ToDo ..." />
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="todoList.addTodoItem(todoList.message)">Add</button>
      </span>
    </div>
  </header>
  <div class="list-group">
    <todo-item todo="todoItem" ng-repeat="todoItem in todoList.todoItems"></todo-item>
  </div>
  <footer class="panel-footer">
    <span class="badge">{{todoList.calcDone()}} / {{todoList.todoItems.length}}</span> Items left
  </footer>
</section>
