<!-- todoitem用テンプレート -->
<div class="list-group-item">
  <div class="list-group-item-inner" ng-hide="todoItem.todo.isEditMode">
    <div class="item-wrapper"><input type="checkbox" ng-model="todoItem.todo.done" /></div>
    <label class="done-{{todoItem.todo.done}}" ng-dblclick="todoItem.startEdit(todoItem.todo.id)">{{todoItem.todo.message}}</label>
    <div class="item-wrapper"><button class="btn btn-danger btn-xs" ng-click="removeTodoItem(todoItem.todo.id)">&times;</button></div>
  </div>
  <div ng-show="todoItem.todo.isEditMode">
    <input ng-model="todoItem.todo.message" class="form-control input-sm" todo-focus ng-blur="todoItem.updateTodoItem($event)" ng-keyup="todoItem.updateTodoItem($event)" />
  </div>
</div>
